body {
	background-color: white;
	background-image: url("Background_Light_1.png");
	font-family: "Garamond", serif;
	font-size: 110%;
	color: darkgrey;
}

h1 {
	text-align: center;
	font-size: 300%;
	font-variant: small-caps;
	
	background-color: white;
	border-style: double;
	border-color: darkgrey;
	
	max-width: 50%; 
	margin: 25px auto;
	padding: 25px 0px;
}
	
h2 {
	text-align: center;
	font-size: 200%;
	font-variant: small-caps;
	
	margin: 25px;
}

h3, h4, h5, h6 {
	text-align: center;
	font-size: 150%;
	font-variant: small-caps;
	
	margin: 25px;
}

div {
	background-color: white;
	border-style: double;
	border-color: darkgrey;
	
	width: 50%; 
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

p {
	text-align: justify;
	font-family: "Alice", serif;
	color: darkgrey;
	
	margin: 25px;
}



a:link { /* Unvisited hyperlinks */
	color: cornflowerblue;
}

a:visited {
	color: indigo;
}

a:hover {
	color: black;
}

a:active { /* Hyperlinks being clicked */
	color: black;
}



ul {
	list-style-type: square;
	margin: 25px
}

li.horizontal {
	display: inline;
}
	
li.horizontal + li.horizontal:before{
	content: " | ";
	padding: 0 10px;
}

ul.centred {
	text-align: center;
    list-style-type: none;
}

ol {
	list-style-type: lower-roman;
}

dt {
    font-style: italic;
    color:deeppink;
}

em {
    font-style: italic;
    color:deeppink;
}






















